@import url('responsive.css');
/* 清除默认边距 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #101111ce;
}

body {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 800px;
    min-width: 0;
}

